extends layout

block content

  div(class ="index-header")
    div(class="name") Amy M. Bertken

  div(class = "blurb") Full Stack Developer in Boulder, Colorado
    br
    a(href="/pdf/ResumeSummer2015.pdf") Resume
