doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/fonts/essays1743.ttf')
  body

    block content
